[Unit]
Description=Docker Nextcloud cron

[Timer]
OnCalendar=*-*-* 00:10:00
OnCalendar=*-*-* 04:10:00
OnCalendar=*-*-* 08:10:00
OnCalendar=*-*-* 12:10:00
OnCalendar=*-*-* 16:10:00
OnCalendar=*-*-* 20:10:00

[Install]
WantedBy=timers.target

